/* components/Sidebar.module.css */
.sidebar {
  width: 15%;
  height: 36vh;
  background-color: #142a416e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
}

.menuItem {
  width: 90%;
  padding: 10px 0;
}

.menuItemLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  width: 100%;
}

.menuItemLabel:hover  {
  background-color: #274768;
}

.icon {
  font-size: 1.5rem;
  display: flex;
  align-items:flex-end;
}

.label {
  font-size: 1rem;
  text-align: center;
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.subMenu a{
  width: 100%;
  text-decoration: none;
}

.subMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
}

.subMenuItem:hover {
  background-color: #274768;
}


.menuItemLabel.active,
.subMenuItem.active {
  background-color: #274768;
  border-left: 10px solid #031425;
}
